#root {
    /* min-width: 1920px; */
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100%;
    background-size: 100% 100%;
    background-image: url('../assets/backgrund.png');
}

.app {
    background-color: transparent;
}

.box {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.nav {
    margin-left: 60px;
    margin-bottom: 0;
    border-bottom: none;
    background-color: transparent;
}

.ant-menu-horizontal > .ant-menu-item a {
    color: #8d9297;
    font-size: 16px;
    line-height: 62px;
    margin: auto;
    height: 62px;
    cursor: pointer;
    user-select: none;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #fff !important;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
    color: #fff;
}

.active-item {
    color: #fff;
    background-image: url('../assets/active.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: none;
}

.logo {
    background-image: url('../assets/logo@2x.png');
    width: 273px;
    height: 62px;
    background-size: 273px 64px;
    background-position: 0 10px;
}

/* .ant-btn {
    font-size: 16px;
    line-height: 0.8;
} */
