.ant-collapse {
    background-color: transparent !important;
}
.ant-collapse-item {
    border-bottom: none !important;
}
.ant-collapse-header{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.chart{
    width: 100%;
    height: 400px;
    padding: 30px 30px;
    background-image: url('../assets/home_chear.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
}

.traj-chart {
    background-image: url('../assets/listBackgrund.png');
    width: 100%;
    height: 910px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 35px 75px;
    padding-top: 60px;
}
