.ant-btn-round.ant-btn-lg {
    font-size: 22px !important;
    padding: 10px 35px !important;
    height: 50px !important;
    letter-spacing: 2.5px !important;
    font-weight: 500 !important;
    color: rgb(59, 57, 57) !important;
    text-shadow: 1px 1px rgb(0 0 0 / 10%);
    background-color: rgb(120, 237, 255) !important;
    border: none !important;
    border-radius: 45px !important;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%) !important;
    transition: all 0.3s ease 0s !important;
    cursor: pointer !important;
    outline: none !important;
}

.buttons {
    position: absolute;
    left: 50%;
}

.buttons .button {
    padding: 10px 30px;
    color: #9ECAF7;
    border-radius: 10px;
    border: 1px solid #9ECAF7;
}

.buttons .button:hover {
    cursor: pointer;
}

.buttons .activeBtn {
    color: #333;
    background-color: #51A0F0;
    border: 1px solid #51A0F0;
}

.home-title {
    position: relative;
    margin-left:  610px;
    width: 700px;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    z-index: 10;
    border: rgba(255, 255, 255, 0.5) solid 2px;
    border-radius: 15px;
}

.home-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../assets/BG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.home-title h1 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    color: rgb(222, 237, 245) !important;
    font-weight: 500 !important;
    text-shadow: 2px 2px gray !important;
    font-size: 38px!important;
    line-height: 3 !important;
}

.home-title .ant-button {
    line-height: 2;
    font-size: large;
}

.title-buttons {
    width: 30%;
    margin: auto;
    font-size: 24px;
}

.video {
    background-image: url('../assets/BG.png');
    width: 100%;
    height: 795px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 40px 70px;
}

.param-form {
    font-size: 15px;
    font-weight: bold;
    display: table;
    padding-top: 30px;
    font-family: monospace;
}

.param-form p {
    display: table-row;
}

.param-form .form-header {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 15px;
    text-decoration: underline;
}

.param-form label {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
}

.param-form span {
    display: table-cell;
    text-align: right;
    padding-left: 6px;
}

.param-form-input {
    display: table-cell;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.bg-white {
    background: rgba(255, 255, 255, 0.5);
    border: rgba(0, 0, 0, 0) solid 1px;
    border-radius: 18px;
}

.region_title {
    color: black;
    font-size: 22px;
    margin-left: 18px;
}

.region_icon {
    width: 72px;
    height: 87px;
}

.region_subTitle {
    font-size: 16px;
    color: #78a2b2;
    margin-left: 30px;
}

.charts {
    padding: 35px;
}

.List .region {
    padding: 0 35px;
}

.viedos {
    /* background-image: url('../assets/home_vide_bg.png'); */
    width: 886px;
    height: 556px;
    padding: 10px;
}

.select-panel {
    /* background-image: url('../assets/home_vide_bg.png'); */
    background-size: 443px 556px;
    width: 443px;
    height: 556px;
    padding: 10px;
}

.d-player-wrap {
    border-radius: 15px;
}

.submit {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.anticon-paper-clip {
    color: #fff;
}

.chooseTable .ant-table-tbody tr {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3) !important
}

.ant-table {
    background-color: transparent !important;
}

.ant-table-header{
    background-color:transparent !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ant-table-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 478px;
}

.ant-table-body::-webkit-scrollbar {
    background-color: transparent !important;
    border-radius: 15px;
}

.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
    background-color:transparent !important
}

.ant-table-thead > tr > th {
    background: rgb(255 255 255 / 60%) !important;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
    color: black;
    background: rgb(255 255 255 / 50%) !important;
}

.ant-table-hide-scrollbar{
    display:table
}
