.table {
    background-image: url('../assets/listBackgrund.png');
    width: 100%;
    height: 910px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 35px 75px;
    padding-top: 60px;
}

/* .ant-table { */
    /* background-color: transparent;
    color: #335A6A; */
    /* font-size: 16px !important; */
/* } */

.ant-table table {
    border-spacing: 0px 20px;
}

.ant-table-content {
    font-size: 16px;
}

.ant-table .ant-table-header-column {
    height: 0px;
}

.ant-table .ant-table-thead th {
    background-color: #263140;
    color: #8ef2fb;
    border-bottom: none;
}

.ant-table .ant-table-thead th:first-child {
    border-top-left-radius: 10px !important;
    border-radius: 10px 0px 0px 10px;
}

.ant-table .ant-table-thead th:last-child {
    border-radius: 0 10px 10px 0;
    border-top-right-radius: 10px !important;
}


.ant-table-tbody tr {
    background-color: rgba(45, 70, 139, 0.17);
    border-radius: 15px;
    margin-top: 20px;
}

.ant-table-tbody tr:hover {
    color: #8ef2fb;
    background-color: rgba(111, 205, 246, 0.17);
}

.ant-table-tbody td {
    border-bottom: none;
    background: transparent !important;
}

.ant-table-tbody > tr > td {
    color: white !important;
}

.ant-table-row td:first-child {
    border-radius: 10px 0px 0px 10px;
}

.ant-table-row td:last-child {
    border-radius: 0 10px 10px 0;
}

.ant-table-placeholder {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
}

.ant-table-placeholder .ant-empty-description {
    color: #FFFFFF;
}

.ant-table-pagination.ant-pagination {
    font-size: 16px;
}

.ant-pagination-prev button,
.ant-pagination-next button,
.ant-pagination-item {
    background-color: #222a35 !important;
    color: #ffffff !important;
    border: 1px solid #8ef2fb !important;
}


.ant-pagination-item a {
    color: white !important;
}

.ant-pagination-item-active {
    background-color: #8ef2fb !important;
    color: #0b0c11 !important;
}

.ant-pagination-item-active a {
    color: #0b0c11 !important;
}

.ant-pagination-options-size-changer.ant-select {
    color: white;
    border: 1px solid #8ef2fb !important;
    border-radius: 3px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #222a35 !important;
    border: none !important;
    font-size: 16px;
}

.ant-select-arrow {
    color: white;
}

.ant-checkbox-inner::after {
    display: block;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    display: block;
}
